<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <RunConfiguration>
        <MaxCpuCount>1</MaxCpuCount>
        <ResultsDirectory>./TestResults</ResultsDirectory>
        <TargetFrameworkVersion>net6.0</TargetFrameworkVersion>
        <TreatNoTestsAsError>true</TreatNoTestsAsError>
    </RunConfiguration>

    <!-- Configuration for loggers -->
    <LoggerRunSettings>
        <Loggers>
            <Logger friendlyName="console" enabled="True">
                <Configuration>
                    <Verbosity>normal</Verbosity>
                </Configuration>
            </Logger>
            <Logger friendlyName="trx" enabled="True">
                <Configuration>
                    <Verbosity>diagnostic</Verbosity>
                </Configuration>
            </Logger>
            <Logger friendlyName="html" enabled="True">
                <Configuration>
                    <Verbosity>diagnostic</Verbosity>
                </Configuration>
            </Logger>
            <Logger friendlyName="blame" enabled="True" />
        </Loggers>
    </LoggerRunSettings>


</RunSettings>